@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');

body {
    background-image: url("flower.jpg");
    font-family: 'Pacifico',
    cursive;
    font-size: xx-large;
    background-size: 1550px;
    text-align: center; 

}

#show-btn {
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    font-family: 'Yaldevi', sans-serif;
    margin-top: 30px;
    font-weight: 700;
    color: rgb(153, 47, 56);
    font-size: 1rem;

}

#bday-input{
     font-size: larger;
     background-color: rgba(184, 43, 43, 0.226);
     padding: 1rem 1rem;
     border-radius: 6px;
     border: none;
     
}
